
body {
    height: 100vh;
    display: flex;
    flex-direction: column;

}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px;
    
}
.brand {
    font-size: 3em;
    font-family: 'Courier New', Courier;
    font-weight: bold;
    color: brown;
    flex-grow: 1;
   
    
}
nav{
    display: flex;
    justify-content: space-between;
    flex-grow: 0.2;
    margin-left: 10px;
    
    
}   

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: crimson;
    border-radius: 2px;
    padding: 5px 15px;
     font-size: 1rem;
      text-transform: uppercase;
}
main {
    display: flex;
    align-items: center;
    justify-content : left;
    margin: -10px;
    flex-grow: 1;   

}

h1{
    font-size: 1.5em;
    font-weight: bold;
    font-family:  Arial, Helvetica, sans-serif;
    color: rgb(21, 20, 20);
    margin: 15px;
}

aside {
    flex-grow: 1;
    padding: 10px;
    height: 97%;

}
article {
    flex-grow: 2;
    height: 97%;
    padding: 5px;
      
}
li {
    list-style-type: none;
    padding: 10px;
    background-color: brown;
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 150px;
    height: 20px;
}
p {
    
    font-size: 1em;
    line-height: 1.15;
    color: rgb(17, 16, 16);
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif
}
.testimonial{
   
    justify-content: center;
    background-color: rgb(179, 164, 162);
    border-radius: 7px;
    padding: 5px;

}
blockquote, figcaption{
    font-style: italic;
    font-size: 20px;
    margin-top: auto;
    
    
    
}
footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(17, 16, 16);
    font-size: 1.2em;
    color: rgb(212, 197, 197);
    
}